Adafruit_Blinka==8.20.1
adafruit_circuitpython_bno08x==1.2.3
adafruit_circuitpython_tcs34725==3.3.18
ament_copyright==0.12.7
ament_flake8==0.12.7
ament_pep257==0.12.7
diagnostic_msgs==4.2.3
geometry_msgs==4.2.3
pigpio==1.78
pytest==7.4.0
rclpy==3.3.9
sensor_msgs==4.2.3
setuptools==68.0.0
std_msgs==4.2.3
